#--Main----#
pyrofork
tgcrypto
aiofiles
aiohttp
requests
beautifulsoup4

#---database---#
pymongo
dnspython
marshmallow
umongo
motor
pytz

#---utils & others---#
certifi
charset-normalizer
idna
pyaes
pySocks
python-dotenv
schedule
soupsieve
urllib3
wheel
lxml==4.9.3
pyaes

#---scrapers---#
python_flipkart_scraper
python-amazon-scraper



